<!DOCTYPE html>
{% extends 'app_blog/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block content %}
    
    <h1>Delete post</h1>
    <p>Are you sure you want to delete the post {{ task.title }}?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn" style="background-color:red" type="submit">Confirm Delete</button> 
    </form>
    
{%endblock%}
</body>
</html>